.unit-component-container {
  padding: 10px;

  .cost-filter-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 10px;

    .filter-container {
      display: flex;
      align-items: center;

      width: 100%;

      .checkbox {
        width: 7%;
        margin-right: 10px;
      }

      .slider {
        width: 30%;
      }
    }

    .button-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

}